.jumbotron {
    background-image: url("photos/alohaimg.png");
    background-size: 100% 100%;
    height: 300px;
}

.p-2 {
    text-decoration: underline;
    cursor: pointer;
}

.card-img-right {
    height: 100%;
    width: 100%;
}

.card-img {
    height: 400px;
    width: 100px;
}

.imgmodal {
    height: 20%;
    width: 100%;
}

.card {
    border: none !important;
}